* {
    box-sizing: border-box;
}


.preloader{
    display:none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0 ;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #c6c8ca;
}